.main {
  margin-left: 110px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(353, 100%, 65%); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d60f0f; 
}

/* Responsive */
@media screen and (max-width:1024px) {
  .main {
    margin-left: 0;
  }
}